
<p-panel header="Product manage">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="productName">Product Name*</label>
                <br/>
                <input id="productName" style="width:100%" pInputText [(ngModel)]="product.name" 
                       name="name" #name="ngModel" required minlength="4" maxlength="20" />
            </div>
            <div class="ui-g-8">
                <br/>
                <!--<div class="ui-message ui-messages-error ui-corner-all" [hidden]="name.valid || name.pristine">
                    <i class="fa fa-close"></i>
                    Firstname is required
                </div>-->
                <div *ngIf="name.errors && (name.dirty || name.touched)"
                    class="required-message">
                    <div [hidden]="!name.errors.required">
                        <i class="fa fa-close"></i>
                        Name is required
                    </div>
                    <div [hidden]="!name.errors.minlength">
                        <i class="fa fa-close"></i>
                        Name must be at least 4 characters long.
                    </div>
                    <div [hidden]="!name.errors.maxlength">
                        <i class="fa fa-close"></i>
                        Name cannot be more than 20 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="productDesc">Product Description</label>
                <br/>
                <textarea rows="3" pInputTextarea autoResize="autoResize" id="productDesc" [(ngModel)]="product.desc" 
                          name="desc" style="width:100%">
                </textarea>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="productPrice">Product Price*</label>
                <br/>
                <input id="productPrice" type="number" style="width:100%" pInputText [(ngModel)]="product.price" 
                       name="price" #price="ngModel" required />
            </div>
            <div class="ui-g-8">
                <br/>
                <div class="required-message" [hidden]="price.valid || price.pristine">
                    <i class="fa fa-close"></i>
                    Price is required
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <label for="productQty">Product Qty*</label>
                <br/>
                <input id="productQty" type="number" style="width:100%" pInputText [(ngModel)]="product.qty" 
                    name="qty" #qty="ngModel" required />
            </div>
            <div class="ui-g-8">
                <br/>
                <div class="required-message" [hidden]="qty.valid || qty.pristine">
                    <i class="fa fa-close"></i>
                    Qty is required
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12">
                <label for="productPic">Product Pictuer</label>
                <br/>
                <p-fileUpload id="productPic" name="producPic" url="/api/upload/uploadproductpic" 
                    multiple="multiple" accept="image/*" auto="auto" (onUpload)="onUploaded($event)" (onError)="onUploadedError($event)">
                        <template pTemplate type="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </template>
                </p-fileUpload>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-1">
                <button id="saveProduct" [disabled]="productForm.form.invalid" style="width:100%" pButton type="button" label="Save" (click)="checkBeforSave()"></button>
            </div>
            <div class="ui-g-1">
                <button id="cancelAll" style="width:100%" pButton type="button" label="Cancel" (click)="reset()"></button>
            </div>
        </div>
    </form>
</p-panel>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="450"></p-confirmDialog>
<p-growl [value]="msgs"></p-growl>